{% extends "user_log_base.html" %}

{% block title %}
   <title>Login | Open Agriculture</title>
{% endblock %}

{%block content %}
<h3 class="text-center">Create new user</h3>
<hr style="margin:auto; height:2px;" >
<form method="POST" class="form-register">
   {{ form.hidden_tag() }}
   <br>
   <p class="lead">{{ form.username.label }}</p>
   {{ form.username(class="form-control",placeholder="User Name") }}
   <br>
   <p class="lead">{{ form.email_address.label }}</p>
   {{ form.email_address(class="form-control",placeholder="Email Address") }}
   <br>
   <p class="lead">{{ form.password1.label }}</p>
   {{ form.password1(class="form-control",placeholder="Password") }}
   <br>
   <p class="lead">{{ form.password2.label }}</p>
   {{ form.password2(class="form-control",placeholder="Confirm Password") }}

   <br>

   {{ form.submit(class="btn btn-lg w-100 btn-success")}}

   <br>
   <br>

   <div class="checkbox mb-3">
      <h6>Already have an account?</h6>
      <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page')}}">Sign in</a>
   </div>
</form>
{% endblock %}
